@model DecadeBodyModel
@using Utilities.EnumerableExtensions
@using System.IO;
@using Website_Generator.Models
@using Utilities
<div class="container">
@foreach( var yearGroup in Model.GetIssues().GroupBy( d => d.ReleaseDate.Year, (key,g)=>new{Year = key, Issues = g.ToArray() } ).OrderBy( yearGroup => yearGroup.Year ) ) {
  <div class="panel panel-primary">
    <div class="panel-heading"><a href="@UriPath.Combine( Model.Decade.DirectoryName, yearGroup.Year + ".html" )"><h2 class="pabel-title">@yearGroup.Year</h2></a></div><div class="panel-body"> 
    @foreach( var batch in yearGroup.Issues.OrderBy( issue => issue.ReleaseDate ).InBatchesOf( 4 ) ) {
      <div class="row">
      @foreach( var issue in batch ) {
        @Model.RenderThumbnail(
          linkUrl: Path.Combine( Model.Decade.DirectoryName, issue.DirectoryName, issue.IndexFileName ),
          description: issue.ShortDisplayName,
          imgUrl: Path.Combine( 
                  "..", 
                  Model.Config.RelativeThumbnailImageDir, 
                  Model.Decade.DirectoryName, 
                  issue.DirectoryName, 
                  issue.CoverPage.FileName ),
          imgWidth: issue.CoverPage.ThumbnailImageDisplayWidth,
          imgHeight: issue.CoverPage.ThumbnailImageDisplayHeight,
          imgAltText: String.Format( "Preview for {0}", issue.ShortDisplayName ) );
      }
      </div>
    }
    </div>
  </div> @* panel body, panel*@
}
</div>